<div  id="solutions">
  <div class="container-fluid solutions-card">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-2 rotate-title">
        <br><br><br><br><br><br><br><h1 class="title">Solutions</h1>
      </div>
      <div class="col-md-10 col-sm-12 col-lg-10">
        <div class="card col-md-10 col-md-offset-1">
          <div class="card-body">
            <!-- <ul class="list-group" *ngFor="let list of solutionsList">
              <li (click)="toggle( list.id )" id="{{ list.id }}" class="solutions-list list-group-item" type="button" data-toggle="collapse" data-target="#collapseList" aria-expanded="false" aria-controls="collapseList">
                <div class="list-header">{{ list.header }}</div>
                <ng-container *ngIf="list.status == 1">
                  <div class="list-description">
                      <div>
                        {{ list.description }}
                      </div>
                  </div>
              </ng-container>
              </li>
            </ul> -->
            <div  *ngFor="let list of solutionsList; let i = index" [attr.data-index]="i">
                <app-popup [itaration_val]=i [header]=list.header [description]=list.description [image]=list.image></app-popup>
            </div>
            <div class="pricing col-md-7 col-md-offset-5">
              <!-- <a routerLink="/pricing" class="pricing-text">See Pricing <i class="fa fa-caret-right" style="font-size:24px"></i></a> -->
              <a class="arrow pricing-text"  routerLink="/pricing" style="float: right;">See Pricing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


