

.solutions-list{
    list-style-type: none;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    width: 90%;
    font-size: 20px;
}
.list-description{
    margin: 0 auto;
    text-align: justify;
}
.pricing{
    text-align: right;
    padding-bottom: 0px;
    margin-top:100px;
    z-index: 1;
}
.pricing-text{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
.card{
    margin-top: 5vw;
}
.card-body{

}
.solutions-card{
    background-color:  rgb(95, 186, 70);
    background:url('/assets/img/home/desk1.jpg') no-repeat fixed center;
    background-size: 100% auto;
    margin-bottom: 20px;
    position: relative;
    left:-50px;
    top:80px;
    width:100vw;
    /* position: absolute;
    left:0px; */
}
.rotate-title{
    /* background-color:#2d9751;   */
    background: rgb(41,124,153);
background: linear-gradient(360deg, rgba(41,124,153,1) 0%, rgba(96,186,70,1) 100%);
    /* #3cb879; */
    margin-top:0%;
    height: 100%;
    text-align: center;
}
.title{
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif !important;
    font-size:50px;
    padding:100% 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
}



@media screen and (max-width:992px) {
    .solutions-card{

        background-size: auto 100%;
    
    }
    .title{
        transform: none;
        padding:0px;
        padding-bottom:50px;
        margin-top:-80px;
    }
    .solutions-card{
        background-color:  rgb(96, 186, 70);
        margin-bottom: 20px;
        position: relative;
        left:-50px;
        padding-bottom: 50px;
        width:100vw;
    }
}


.arrow {
    position: relative;
    transition: all .5s ease;
    padding: .5em;
    display: inline-block;
    padding: 20px 30px 20px 30px;
    border-radius: 3px;
    font-weight: bold;
    font-size:25px;
  }
  
  .arrow:hover {
    padding: 20px 50px 20px 20px;
  }
  
  .arrow:before,
  .arrow:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background: currentColor;
    position: absolute;
    right: 20px;
    top: 37px;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: all .5s ease;
    opacity: 0;
  }
  
  .arrow:hover:after,
  .arrow:hover:before {
    -webkit-transform-origin: right center;
            transform-origin: right center;
    opacity: 1;
    right: 20px;
  }
  
  .arrow:hover:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .arrow:hover:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }