.solutions-list{
    list-style-type: none;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    width: 90%;
    font-size: 20px;
}
.list-description{
    margin: 0 auto;
    text-align: justify;
}
.pricing{
    text-align: right;
    padding-bottom: 20px;
    margin-top:80px;
    z-index: 1;
}
.pricing-text{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
.card{
    margin-top: 40px;
}
.card-body{
    align-content: center;
}
.solutions-card{
    background-color:  rgb(96, 186, 70);
    margin-bottom: 20px;
}
.rotate-title{
    background-color:rgb(50, 161, 58);  
    /* #3cb879; */
    margin-top:0%;
    text-align: center;
}
.title{
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif !important;
    font-size:50px;
    padding:60% 10%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
}
