@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rozha+One');

.container{
  position: relative;
  top:80px;
}

.portfoliotitle{
    font-size:50px;
    padding:30px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #47d147;
}

.carousel-control{
  background: none;
}
.carousel{
  width:100%;
  margin: 0% auto;
  height:100%;
}
.img-responsive{

}
.item{
  height:300px !important;
}
.col4 {width: 33.33333333%; float: left; position: relative;}
.transition {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;}
.fx1 .item, .fx2 .item, .fx3 .item, .fx4 .item, .fx5 .item {margin: 10px 0;}
/* active on focus for accessibility tab navigation */

.fx2 .item {
  padding: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.36) );
  filter: drop-shadow(2px 5px 5px rgba(34, 34, 34, 0.36));
  height:400px;
}
.fx2 .item img {padding: 0 !important; display: block;  height: 100%; width:100%;}
.fx2 a:hover .item img, .fx2 a:focus .item img {opacity: 0.5; -webkit-transform: scale(0.95); transform: scale(0.95);}
.fx2 h4, .fx2 p, .fx2 span {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;} 
.fx2 a .item h4 {font-family: 'Raleway', sans-serif; font-size: 16px; position: absolute; color:#fff; text-transform: uppercase; letter-spacing: 2px; position: absolute; top:42%; left:0; right:0; margin:0 auto; text-align: center; -webkit-filter: blur(5px); filter: blur(5px); opacity: 0;}
.fx2 a:hover .item h4, .fx2 a:focus .item h4 {-webkit-filter: blur(0px); filter: blur(0px); opacity: 1;}
.fx2 a .item p {font-family: 'Raleway', sans-serif; font-size: 8px; position: absolute; color:#fff; text-transform: uppercase; letter-spacing: 2px; position: absolute; top:53%; left:0; right:0; margin:0 auto; text-align: center; opacity: 0;}
.fx2 a:hover .item p, .fx2 a:focus .item p {opacity: 1;}

.fx2 .row{
  float: none; margin: 0 auto;
}
.col-centered {
}
@media screen and (max-width: 991px) {
.col4 {width: 50%;}
.fx5 a .item h4 {font-size: 13px;}

.carousel{
  width:unset!important;
  margin: unset!important;
  height:unset!important;
}

.item{
  height: unset !important;
  width: unset !important;
}

}   

@media screen and (max-width: 580px) {
.col4 {width: 100%;}

} 

.arrow {
  position: relative;
  text-decoration: underline;
  transition: all .5s ease;
  padding: .5em;
  display: inline-block;
  padding: 20px 30px 20px 30px;
  border-radius: 3px;
  color: #47d147;
  font-weight: bold;
  font-size:25px;
}

.arrow:hover {
  padding: 20px 50px 20px 20px;
}

.arrow:before,
.arrow:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background: currentColor;
  position: absolute;
  right: 20px;
  top: 37px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all .5s ease;
  opacity: 0;
}

.arrow:hover:after,
.arrow:hover:before {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  opacity: 1;
  right: 20px;
}

.arrow:hover:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.carousel-indicators li {
  background-color:  #47d147; 
  width : 16px;
  height : 16px;
  margin: 4px;  
}
.carousel-indicators .active {
  background-color:  #006600;
  width : 16px;
  height : 16px;  
  margin: 4px;   
}
.carousel-indicators {
  bottom: -50px;
}

/* .carousel-caption h5{
  font-size:50px;
} */
