<div id="generic_price_table">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h1>Branding Packages</h1>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">

            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Basic</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">LKR</span>
                                <span class="currency">10,000</span>
                                <!-- <span class="cent">.99</span>
                                <span class="month">/MON</span> -->
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>2 Logo</span> Designs<br>(1 revision for selected design)</li>
                                <li><span>Business Card</span> Design<br>(with 2 revisions)</li>
                                <li><span>Letterhead Design</span> Design<br>(with 2 revisions)</li>
                                <li><span>Flyer</span> Design<br>(with 2 revisions)</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Get Started</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

                <div class="col-md-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Silver</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">LKR</span>
                                <span class="currency">20,000</span>
                                <!-- <span class="cent">.99</span>
                                <span class="month">/MON</span> -->
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>3 Logo</span> Designs<br>(2 revision for selected design)</li>
                                <li><span>Business Card</span> Design<br>(with 3 revisions)</li>
                                <li><span>Letterhead Design</span> Design<br>(with 3 revisions)</li>
                                <li><span>Flyer</span> Design<br>(with 3 revisions)</li>
                                <li><span>Presentation</span> Slides Design<br>(5 Slides with 2 revisions)</li>
                                <li><span>Envelop</span> Design<br>(2 revisions)</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Get Started</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
                <div class="col-md-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Gold</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">LKR</span>
                                <span class="currency">30,000</span>
                                <!-- <span class="cent">.99</span>
                                <span class="month">/MON</span> -->
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>5 Logo</span> Designs<br>(2 revision for selected design)</li>
                                <li><span>Business Card</span> Design<br>(with 5 revisions)</li>
                                <li><span>Letterhead Design</span> Design<br>(with 5 revisions)</li>
                                <li><span>Flyer</span> Design<br>(with 5 revisions)</li>
                                <li><span>Presentation</span> Slides Design<br>(10 Slides with 2 revisions)</li>
                                <li><span>Envelop</span> Design<br>(3 revisions)</li>
                                <li><span>Invoice</span> Design<br>(3 revisions)</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Get Started</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
            </div>
            <!--//BLOCK ROW END-->

        </div>
    </section>
</div>