<div class="top">
        <div class="gnex-logo">
                <img src="/assets/img/gnex_logo.png" >
        </div>
        <nav class="navbar">
            <div class="nav-container col-md-12">
                <a href="#" class="menu-trigger">MENU</a>
                <ul class="row">
                    <li class="col-md-2"><a href="#">CONTACT</a></li>
                    <li class="col-md-2"><a href="#">ABOUT US</a></li>
                    <li class="col-md-2"><a href="#">PORTFOLIO</a></li>
                    <li class="col-md-2"><a href="#">SOLUTIONS</a></li>
                    <li class="col-md-2"><a href="#">HOME</a></li>
                </ul>
            </div>
        </nav>
</div>
