
.top{
  display: flex;
  flex-wrap:nowrap;
}

.gnex-logo{
  width: 210px;
  height:80px;

 }

.gnex-logo img{
  width: 150px;
  height: auto;
  margin-top: 21px;
  padding-left: 30px;
  /* padding: 10px; */
 
}

.navbar{
  -webkit-clip-path: polygon(30px 0%, 100% 0, 100% 100%, 30px  100%, 0% 50%);
  background-color: rgb(96, 186, 70);
  height:80px;
  width: 100%;
}

.nav-container{
  position:absolute;
  right:0px;
}

  nav {
    width: 100%;
    display: flex;
  }
  nav ul  {
    
  }
  
  nav ul li {
    display:inline-block;  
    height:80px;
    float: right;
    display: flex;
   
  }
  
  nav a {
    font-family: 'Montserrat', sans-serif ;
    font-size:20px;
    font-weight: 500;
    height:100%;
    width:100%;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding:25px 0px;
   }
  
  nav a:hover {
    background: rgb(3, 124, 13);
  }
  
  .menu-trigger {
    display:none !important;
    color:#F8ECC2;
  }
  
  @media screen and (max-width:500px) {
    .menu-trigger {
      display:flex !important;
    }
    nav ul li {
      display: flex;
      border-top:1px #79896D solid;    
    }
    nav ul {
      display:none;
    }
  }
  