<div class="aboutusBack" id="aboutus_sec">
    <div class='container'>  
        <div class="aboutusTitle">  
                About Us
        </div>  
        <div class='col-12'> 
        <div class="aboutusTitle2">
            <p>gNEX is a NEXt generation startup which cater Sri Lankan and international clients through state of the art solutions. Our highly dedicated team is responsible for delivering high quality products up to the customer's requirements on time. We have excelled our expertise in providing wide range of technological solutions</p>
        </div>
        <carousel>  
            <h1 style="margin-bottom: 20px;text-align: center;">What Our Clients Say</h1>
            <slide> 
                <div class="carousel-box"> 
                    <div class="row">
                        <div class="col-sm-2 carousel-img">
                                <img src="../assets/img/teamAvatar/Dumindu.jpg" alt="Dumindu"> 
                        </div>
 
                        <div class="col-sm-10">
                            <!-- <p class="carousel-text">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea"
                            </p>

                            <div class ="align-bottom">
                                <p class="carousel-title1">Asanka de Silva</p>
                                <h5 class="carousel-title2">CEO at CEES International</h5>
                            </div> -->

                            <div class="testimonial">
                                The team at gNEX has done an incredible job on our new real estate sri lanka website and besides driving the programmers and designers almost insane with our very particular requirements and constant changes, they have carried - out all works to a quality- and professional level which is unmatched in Sri Lanka
                            </div>
                            <div class ="align-bottom">
                                <p class="carousel-title1">Asanka de Silva</p>
                                <h5 class="carousel-title2">CEO at CEES International</h5>
                            </div>
                        </div>
                    </div>
                </div>  
            </slide> 
        </carousel>        
        </div>
    </div>
</div>
<br><br>