.aboutusBack{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(96, 186, 70);
    padding-bottom: 100px;
    padding-top:80px;
    position: relative;
    top:0px;
    left:-50px;
    margin-bottom:-110px;
    width:100vw;

}

.aboutusTitle{
    font-size:50px;
    padding:0px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutusTitle2{
    font-size:32px;
    padding:30px 0px;
    text-align: justify;
    font-weight: lighter;
}

.carousel-img{
    border-radius: 50%;
    width: 300px;
    margin: 20px;
    padding-right: 20px; 
}

.carousel-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(45, 151, 81);
    padding: 25px;    
    font-weight: lighter;
}

.carousel-title1{
    text-transform: uppercase;
    font-size:30px;
    font-weight: bold;
    margin-right: -20px;
}

.carousel-title1{
    text-transform: uppercase;
}
.carousel-title2{
    font-weight: lighter;
    font-size: 24px;
}

.carousel-text{
    margin: 20px 0px 20px 0px ;
    text-align: justify;
    font-size:25px;
}

