<div class="aboutusBack" id="aboutus">
    <div class='container'>  
        <div class="aboutusTitle">  
                About Us
        </div>  
        <div class='col-12'> 
        <div class="aboutusTitle2">
            <p>gNEX is a NEXt generation start-up, which caters to both Sri Lankan and International clients through unique IT solutions.
                 At gNEX, we deliver innovative tailor-made products with a touch of creativity and modernity to assist our customers in accelerating their growth. 
                 Crafting powerful outcomes which brings value to our customers, we offer a wide range of business solutions to elevate your business to the next level. 
                 With a talented team working behind the scenes, let us do the magic to make your presence recognized!s</p>
        </div>
        <carousel>  
            <h1 style="margin-bottom: 20px;text-align: center;">What Our Clients Say</h1>
            <slide> 
                <div class="carousel-box"> 
                    <div class="row">
                        <div class="col-sm-2 carousel-img">
                                <img src="../assets/img/teamAvatar/Dumindu.jpg" alt="Dumindu"> 
                        </div>
 
                        <div class="col-sm-10">
                            <!-- <p class="carousel-text">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea"
                            </p>

                            <div class ="align-bottom">
                                <p class="carousel-title1">Asanka de Silva</p>
                                <h5 class="carousel-title2">CEO at CEES International</h5>
                            </div> -->

                            <div class="testimonial">
                                The team at gNEX has done an incredible job on our new real estate sri lanka website and besides driving the programmers and designers almost insane with our very particular requirements and constant changes, they have carried - out all works to a quality- and professional level which is unmatched in Sri Lanka
                            </div>
                            <div class ="align-bottom">
                                <p class="carousel-title1">Asanka de Silva</p>
                                <h5 class="carousel-title2">CEO at CEES International</h5>
                            </div>
                        </div>
                    </div>
                </div>  
            </slide> 
        </carousel>        
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <h1 style="margin-bottom: 20px;text-align: center;">Our People</h1>
        <div class="aboutusTitle2">
            <p>Our people are the force behind our success.We employ some of the most talented software professionals in Sri Lanka and regularly recruit the top graduates from Sri Lanka’s leading universities.Our engineers are respected for their competence,
                creativity and loyalty. We have a shared enthusiasm for building great software and take pride in contributing to the evolution of our clients’ software applications.
            </p>
        </div>
    </div>
</div>
<br><br>