.aboutusBack{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(17,154,132);
    background: linear-gradient(360deg, rgba(17,154,132,1) 0%, rgba(96,186,70,1) 100%, rgba(96,186,70,1) 100%);
    padding-bottom: 100px;
    padding-top:80px;
    position: relative;
    top:0px;
    left:-50px;
    margin-bottom:-110px;
    width:100vw;
}

.testimonial {
    background-image: url("/assets/img/home/quote.png"),url("/assets/img/home/quote_r.png");
    background-position: left top, right bottom 0px;
    background-size: inherit auto;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-size: 19px;
    font-style: italic;
    font-weight: 100;
    margin: 7px auto;
    padding: 0 8% 5px;
    width: 90%;
}
.aboutusTitle{
    font-size:50px;
    padding:0px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutusTitle2{
    font-size:24px;
    padding:30px 0px;
    text-align: justify;
    font-weight: lighter;
}

.carousel-img img{
    border-radius: 50%;
    width: 100%;
}
.carousel-img{
    margin-bottom:auto;
    display: flex;
    top: 2.7vw;
}

.carousel-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(24, 109, 72);
    padding: 25px;  
    padding-left: 50px;    
    padding-right: 50px; 
    font-weight: lighter;
    width: 100%;
}

.carousel-title1{
    text-transform: uppercase;
    font-size:24px;
    font-weight: bold;
    margin-right: -20px;
}

.carousel-title1{
    text-transform: uppercase;
}
.carousel-title2{
    font-weight: lighter;
    font-size: 15px;
}

.carousel-text{
    margin: 20px 0px 20px 0px ;
    display: flex;
    text-align: justify;
    font-size:25px;
    padding:30px;
}

.align-bottom{
    margin-left:120px;
    margin-top:10px;
    padding-bottom:20px;
}

@media screen and (max-width:650px) {
    .align-bottom{
        margin-left:30px;
        margin-top:-25px;
        padding-bottom:20px;
    }
    .carousel-box{
        padding-left: 0px;    
        padding-right: 0px; 
    }
    .carousel-img img{
       padding:30px;
       height:auto;
    }
    .aboutusTitle2{
        padding:30px;
    }

    .align-bottom{
        margin: 0 auto;
        margin-left: 50px;
    }

    .carousel-img img{

    }
    
}
@media screen and (max-width:996px) {
    .testimonial {
        padding: 0 15% 5px;

    }

}

