

<div href="#" id="menu-trigger" class="menu-trigger" (click)="openNav()" >
                <!-- <i class="fa fa-bars fa-4x" aria-hidden="true" ></i> -->
                <div class="menu-trigger-icon" >
                         <div class="menu-trigger-icon-1"></div>
                         <div  class="menu-trigger-icon-2"></div>
                         <div  class="menu-trigger-icon-3"></div>
                </div>
</div>

<div class="top">
        <div class="gnex-logo">
                <img src="./assets/img/gnex_logo.png" >
        </div>
        <div class="gnex-logo-behind">
        
        </div>
        <div class="navbar">    

            <div class="nav-container col-md-12">
                <ul>
                    <li class="col-md-2"><a href="#">CONTACT</a></li>
                    <li class="col-md-2"><a routerLink="/aboutus">ABOUT US</a></li>
                    <li class="col-md-2"><a routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
                    <li class="col-md-2"><a routerLink="/solutions">SOLUTIONS</a></li>
                    <li class="col-md-2"><a routerLink="/home">HOME</a></li>
                </ul>
            </div>
                    

        </div>
        <div id="mySidenav" class="sidenav">
                <a routerLink="/home">HOME</a>
                <a routerLink="/solutions">SOLUTIONS</a>
                <a routerLink="/portfolio">PORTFOLIO</a>
                <a routerLink="/aboutus">ABOUT US</a>
                <a href="#">CONTACT</a>
        </div>

</div>
