
  .top{
    display: flex;
    flex-wrap:nowrap;
    position: -webkit-sticky;
    position: sticky;
    z-index:1;
    top: 0;
    margin-right:-50px !important;
    margin-top: 30px;
  }

  .gnex-logo{
    width: 210px;
    height:80px;
    z-index:2;

  }

  .gnex-logo img{
    width: 150px;
    height: auto;
    margin-top: 21px;
    padding-left: 30px;
    /* padding: 10px; */
  }
  .gnex-logo-behind{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50&1+0,0+100 */
  /* background: -moz-linear-gradient(top, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 10%, rgba(255,255,255,0.5) 70%, rgba(255,255,255,0) 80%); 
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 10%,rgba(255,255,255,0.5) 70%,rgba(255,255,255,0) 80%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 10%,rgba(255,255,255,0.5) 70%,rgba(255,255,255,0) 80%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); */
  background-color: #ffffff;
  width: 100%;
  height:80px;
  position: absolute;
  top:0;
  }

  .navbar{
    -webkit-clip-path: polygon(30px 0%, 100% 0, 100% 100%, 30px  100%, 0% 50%);
    background-color: rgb(96, 186, 70);
    height:80px;
    width: 100%;
    -webkit-animation-name: anim1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: anim1;
    animation-duration: 2s;
  }

  @keyframes anim1 {
    0%   {left:500px;}
    100% {left:0px;}
  }

  .nav-container{
    position:absolute;
    left:0px;
    width:100%;
    height:80px;
  }

  .navbar {
      width: 100%;

    }
    .navbar ul  {

    }
    
    .navbar ul li {
      display:inline-block;  
      height:80px;
      float: right;
    }
    
    .navbar a {

      font-family: 'Montserrat', sans-serif ;
      font-size:1.4vw;
      /* font-size:20px; */
      font-weight: 500;;
      color:rgb(255, 255, 255);
      text-decoration: none;
      text-align: center;
      display: block;
      margin-top:auto !important;
      margin-bottom:auto !important;
      padding: 25px 0;
      height:100%;
      width:100%;
    }

    .navbar a :hover {
      background: rgb(3, 124, 13);

    }
    
    .navbar ul li :hover {
      background: rgb(3, 124, 13);
      -webkit-animation-name: anim2; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      animation-name: anim2;
      animation-duration: 0.5s;
    }

    
  @keyframes anim2 {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
    .menu-trigger {
      display:none !important;
      right: 45px;
      top:17px;
      position: fixed;
      padding: 25px 20px 0!important;
      z-index:9999 !important;
    }
    
    .menu-trigger-icon:hover div{
      background-color: rgb(31, 87, 16);
    }
    .menu-trigger-icon {
      margin: 1em;
      width: 40px;
      position: sticky !important;
    }
    .menu-trigger-icon-1, 
    .menu-trigger-icon-3, 
    .menu-trigger-icon-2 {
      background-color: rgb(62, 128, 44);
      border-radius: 3px;
      content: '';
      display: block;
      height: 6px;
      margin: 6px 0;
      transition: all .2s ease-in-out;
    }

    @media screen and (max-width:450px) {
      .menu-trigger {
        right: 20px !important;
      }

    }

    /* .menu-trigger-icon-1{
      transform: translateY(12px) rotate(135deg);
    }
    
    .menu-trigger-icon-3 {
      transform: translateY(-12px) rotate(-135deg);
    }
    
    .menu-trigger-icon-2 {
      transform: scale(0);
    } */

    @media screen and (max-width:800px) {


      .navbar{
        /* -webkit-clip-path: polygon(30px 0%, 100% 0, 100% 100%, 30px  100%, 0% 50%);
        background-color: rgba(95, 186, 70, 0);
        height:80px !important;
        width: 100% !important; */
      }
      .navbar a {
        text-align: right;
      }
      .menu-trigger {
        display:block !important;


      }
      .menu-trigger>i{
        z-index:9999 !important;
      }

      .navbar ul li {
        display: none;
        border-top:1px #79896D solid;    
      }
      .navbar ul {
        display:none;
      }
    }


    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      background-color: rgb(96, 186, 70);
      opacity:0.9;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top:80px !important;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif ;
      font-size:20px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
      
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    