.animated {
    -webkit-animation-duration: 3s !important;
    animation-duration: 3s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 @-webkit-keyframes fadeIn {
   0% {opacity: 0;}
  100% {opacity: 1;}
 }
 @keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
 @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
 100% {opacity: 0;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
 .fadeIn {
   -webkit-animation-name: fadeOut;
   animation-name: fadeOut;
   height:500px !important;
 }

 :host >>> .fadeIn.active{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  height:500px !important;
}

 :host >>>.carousel-control span {
  font-size: 80px;
  color: #696969;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(199, 199, 199, 0);
  top: 46%;
  border-radius: 50%;
  line-height: 1;

}


:host >>>.carousel-control span:before {
  display: block;
  line-height: 0.45;
}

:host >>> .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.3s;
  margin: 1px;
  z-index:-1;
}

:host >>> .carousel-indicators li   {
  border-color:  rgb(73, 177, 95) !important;
}

:host >>> li.active{
  background-color: rgb(30, 148, 56) !important;
  z-index:-1 !important;
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
  background: unset !important;
}
::ng-deep .home-carousel .carousel-control-prev {
  margin-left: -50px ;
 }
 ::ng-deep .home-carousel .carousel-control-next {
   margin-right: -50px ;
 }
::ng-deep *:focus {
  outline-color: rgb(253, 253, 253);
}

.carousal-caption {
  position: absolute;
  left: 80px;
  top:50px;
  z-index: 9999;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif ;
}
.carousal-caption p{
    background-color: unset !important;
    font-size: 70px;
    margin-top:-20px;
}

.carousal-caption-sub {
  position: absolute;
  font-family: 'Montserrat', sans-serif ;
  font-weight: 300 ;
  left: 80px;
  top:320px;
  z-index: 9999;
  width: 500px;
}

.item img{
  /* height:500px !important;
  width: auto !important;
  float: right;
  margin-right:170px !important; */
}

@media screen and (max-width:950px) {
  .carousal-caption p{
    font-size:40px;
  }
  .carousal-caption {
    top:150px !important;
    margin-left: -50px;
  }
  .carousal-caption-sub {
    left: 30px;
    top:300px;
    z-index: 9999;
    width: 90%;
  }
  .item img{
    /* height:200px !important;
    width: auto !important;
    margin-left:-70px !important; */
  }

  ::ng-deep .home-carousel .carousel-control-prev {
   margin-left: -30px !important;
  }
  ::ng-deep .home-carousel .carousel-control-next {
    margin-right: -30px !important;
  }
  
}
