

<div class="home-carousel">
<carousel>
    <slide class="animated fadeIn">
        <div class="carousal-caption">
            <p>Think.</p>
            <p>Design.</p>
            <p>Develop.</p>
        </div>
        <div class="carousal-caption-sub" >
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
        </div>
        <img src={{images[0]}} alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide class="animated fadeIn">
            <div class="carousal-caption">
                    <p>Think.</p>
                    <p>Design.</p>
                    <p>Develop.</p>
                </div>
                <div class="carousal-caption-sub" >
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
                </div>
        <img src={{images[1]}} alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide class="animated fadeIn">
            <div class="carousal-caption">
                    <p>Think.</p>
                    <p>Design.</p>
                    <p>Develop.</p>
                </div>
                <div class="carousal-caption-sub" >
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
                </div>
                
        <img src={{images[2]}} alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
</div>
