

<div class="home-carousel">
<carousel>
    <slide class="animated fadeIn">
        <div class="carousal-caption">
            <p>Think.</p>
            <p>Design.</p>
            <p>Develop.</p>
        </div>
        <div class="carousal-caption-sub" >
                <p>gNEX is a NEXt generation startup which cater Sri Lankan and international clients through innovative IT solutions.We have excelled our expertise in providing wide range of solutions with latest and most sophisticated technologies.</p>
        </div>
        <img src={{images[0]}} alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide class="animated fadeIn">
            <div class="carousal-caption">
                    <p>Think.</p>
                    <p>Design.</p>
                    <p>Develop.</p>
                </div>
                <div class="carousal-caption-sub" >
                        <p>gNEX is a NEXt generation startup which cater Sri Lankan and international clients through innovative IT solutions.We have excelled our expertise in providing wide range of solutions with latest and most sophisticated technologies.</p>
                </div>
        <img src={{images[1]}} alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide class="animated fadeIn">
            <div class="carousal-caption">
                    <p>Think.</p>
                    <p>Design.</p>
                    <p>Develop.</p>
                </div>
                <div class="carousal-caption-sub" >
                        <p>gNEX is a NEXt generation startup which cater Sri Lankan and international clients through innovative IT solutions.We have excelled our expertise in providing wide range of solutions with latest and most sophisticated technologies.</p>
                </div>
                
        <img src={{images[2]}} alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
</div>
