<div class="footer-main">
    <div class="row">
        <div  class="footer-right col-md-4">
            <div class="footer-logo">
                <img src="./assets/img/gnex_logo_white.png"/>
            </div>
            <div class="footer-address">
                <p>BUSINESS FORMATION CENTER ,</p>
                <p>DEPARTMENT OF INDUSTRIAL MANAGEMENT ,</p>
                <p>UNIVERSITY OF KELANIYA ,</p>
                <p>SRI LANKA.</p>
            </div>

            <div class="footer-phone">
                <div>              
                    <i class="fa fa-phone"></i>
                    <p>0715766022</p>
                </div>
                <div>0715766021</div>
            </div>

        </div>
        
        <div class="footer-left col-md-8">
         
            <div class="footer-contact-text1">
                    <p>CONTACT US</p>
                    <div class="row">             
                        <textarea rows="9" cols="50"></textarea>
                    </div>
                   <div class="row"> <input type="text" value=""></div>
                   <div class="row"> <input type="text" value=""></div>
                   <div class="row"> <input type="text" value=""></div>
                   <button class="btn" id="contact-submit">SUBMIT</button>
            </div>
        </div>

    </div>

</div>