<div class="footer-main">
    <div class="row">
        <div  class="footer-right col-md-3">
            <div class="footer-logo">
                <img src="./assets/img/gnex_logo_white.png"/>
            </div>
            <div class="footer-address">
                <p>BUSINESS FORMATION CENTER ,</p>
                <p>DEPARTMENT OF INDUSTRIAL MANAGEMENT ,</p>
                <p>UNIVERSITY OF KELANIYA ,</p>
                <p>SRI LANKA.</p>
            </div>
        </div>
        
        <div class="footer-left col-md-9">
            <div class="footer-contact-text1">
              
            </div>
        </div>
    </div>

</div>