<div class="footer-main">
    <div class="row">
        <div  class="footer-left col-md-4">
            <div class="footer-logo">
                <img src="./assets/img/gnex_logo_white.png"/>
            </div>
            <div class="footer-address">
                <p>BUSINESS FORMATION CENTER ,</p>
                <p>DEPARTMENT OF INDUSTRIAL MANAGEMENT ,</p>
                <p>UNIVERSITY OF KELANIYA ,</p>
                <p>SRI LANKA.</p>
            </div>

            <div class="footer-phone">
                <div>              
                    <i class="fa fa-phone"></i>
                    <p>0715766022</p>
                </div>
                <div>0715766021</div>
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2237923799773954&autoLogAppEvents=1"></script>
                <div class="fb-like" data-href="https://www.facebook.com/gNEXsolutionsSL/" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>

        </div>
        
        <div class="footer-right col-md-8">
         
            <div class="footer-contact-text1">
                    <p>CONTACT US</p>     
                    <form>
                        <div class="row">    
                           <div class="error-msg" >{{error}}</div>  
                            <textarea  class="form-control" rows="9" cols="50"  name="message"   placeholder=" &nbsp;Whats on your mind? *" [(ngModel)]="message"></textarea>
                        </div>
                        <div class="row"> <input  class="form-control" type="text" name="name"  value="" [(ngModel)]="name" placeholder=" &nbsp;Name *"></div>
                        <div class="row"> <input  class="form-control" type="email"  name="email" value="" [(ngModel)]="email" placeholder=" &nbsp;E-mail *" ></div>
                        <div class="row"> <input  class="form-control" type="text" name="phone" value="" [(ngModel)]="phone" placeholder=" &nbsp;Phone number" ></div>
                        <button class="btn" type="button" id="contact-submit" (click)="sendMail()">SUBMIT</button>
                    </form>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div>Designed and Developed by gNEX <img src="./assets/img/angular.png" width="25px"></div>
    </div>

</div>