.footer-main{
    background-color: rgb(42, 42, 42);
    width:100vw;
    height: auto;
    z-index:0;
    margin-left: -50px;
    margin-top:70px;
}

.footer-logo img{
    width: 250px;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-left{
    padding-left: 130px;
    margin-top:50px;
    border-right: 3px solid rgb(255, 255, 255);
    height: 400px;
}

.footer-right{
    padding-right:150px;
    padding-left: 100px;
}
.footer-address {
    margin-top: 20px;
}
.footer-address p{
    color: white;
    font-size: 11px;
    font-weight: 100;
    margin-top: -8px;
}

.footer-phone{
    margin-top: 20px;
    color : white;
    margin-left: -12px;
    font-size: 20px;
}

.footer-phone p:nth-child(2){
    margin-left: 15px;
    margin-bottom: 0px;
}

.footer-phone div:first-child{
     display:flex;
}

.footer-phone  div:nth-child(2){
    margin-left: 45px;
    }

.footer-phone i{
    margin-top: auto;
    margin-bottom: auto;
}
.footer-phone div{
  width: fit-content;
  margin-left: 15px;
}

.footer-contact-text1{
    margin-top: 30px;
    display: block !important;
}
.footer-contact-text1 p{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(93, 93, 93);
    float: right;
}
.footer-contact-text1 textarea{
    margin-top: 0px;
    width: 100%;
    
}
.footer-contact-text1 input{
    display: block;
    width:auto;
    margin-top: 10px;
    float: right;
    height: 25px;
}

.footer-contact-text1  button{
    margin-top: 20px;
    display: block;
    float: right;
    height: 40px;
    background-color:#60ba46;
    color: white;
    font-weight: 700 !important;
    margin-right:-14px;
}

.footer-end{
    background-color:#1a7564;
    width:100%;
    margin-top:50px;
    height:30px;
    color: white;
    padding-top:8px;
}

.footer-end div{
    margin-left: 80px;
    font-size:12px;
    padding: 0px;
}
.footer-end img{
    padding: 0px;
    margin-top:-5px;
    float: right;
    margin-right:50px;
}
.error-msg{
    font-size:12px !important;
    color:red !important;
    bottom: -30px  !important;
    text-align: right !important;
    font-weight: bold ;
    position: absolute;
    right:135px;
}

@media screen and (max-width:1209px) {

    .footer-logo img{
        width: 200px;
    }
}


@media screen and (max-width:992px) {

    .footer-right{
        margin-top:-130px;
        padding-left: 130px;
        padding-right: 150px;
    }
    .error-msg{
        bottom: -85px  !important;
    }
}


@media screen and (max-width:436px) {
    .footer-left{
        padding-left: 100px;
    }
    .footer-contact-text1 p{
        font-size:30px;
    }
    .footer-right{
        padding-left: 90px;
        padding-right: 70px;
    }
}