  .email {
    color:white;
    font-size: 65px !important;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif ;
    border-radius: 3px;
    height:70px;
    overflow: visible;
    position: relative;
    left:0px !important;
    width:100%;
    -webkit-tap-highlight-color: transparent;
    transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .email p{
    font-weight: 100;
  }
  .email:not(.expand) {
    cursor: pointer;
  }
  .email:not(.expand):hover {
    background: #3b702a;
    
  }

  .from {
    position: absolute;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);

  }
  .from-contents {

    display: flex;
    flex-direction: row;
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .to {
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .to-contents {
    width: 100%;
    transform: scale(.55);
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    
  }
  .avatar {
    border-radius: 12px;
    height: 24px;
    left: 6px;
    position: relative;
    top: 4px;
    width: 24px;
  }
  .name {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif ;
    line-height: 32px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .top {
    background:#3b702a;
    display: flex;
    flex-direction: row;
    height: 70px;
    transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width:100%;
    z-index:900;
  }
  .avatar-large {
    border-radius: 21px;
    height: 42px;
    margin-left: 12px;
    position: relative;
    top: 14px;
    width: 42px;
  }
  .name-large {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif ;
    line-height: 32px;
    margin-left: 30px;
    margin-top: 20px
  }
  .x-touch {
    align-items: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    width: 50px;
  }
  .x {
    background: rgb(100, 131, 70);
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 20px;
  }
  .x-touch:hover .x {
    background: rgb(104, 104, 104);
  }
  .line1 {
    background: rgb(51, 51, 51);
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
  }
  .line2 {
    background: rgb(51, 51, 51);
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
  }
  .bottom {
    background: rgba(32, 32, 32, 0.9);
    color:  #ffffff;
    font-size: 14px;
    padding-top: 5px;
    width:100%;
    height:400px;
    z-index:900;
  }

  .bottom p{
    position: relative;
    height:100%;
    padding:40px;
  
  }
  
  .bottom img{
    width: 200px !important;
    height:auto !important;
    float: left;
   }

  .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
  }

  .email.expand {
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    height: 470px;
    position: relative;
    top:150px!important;
    left:0px;
    z-index: 2;
  }
  .expand .from {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .expand .from-contents {
    transform: scale(1.91);
  }
  .expand .to {
    opacity: 1;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .expand .to-contents {
    transform: scale(1);
  }
  .closed .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
 }
  .closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
 }
  .opened {
    opacity: 1;
 }
  .opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
 }
  .opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
 }
  .circle-plus {
    width: 4em;
    font-size: 1em;
    opacity: 1;
    position: absolute;
    right:-60px;
    top:35px;
    float: right;
    z-index:1;
 }
  .circle-plus .circle .horizontal {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 5px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -2.5px;
 }
  .circle-plus .circle .vertical {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 5px;
    height: 30px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -15px;
 }
  
  @media screen and (max-width:1250px) {
    .name {
      font-size:20px;
      margin-top:0px;
      padding-right: 50px;
    }
}

@media screen and (max-width:650px) {
  .email .expand{

  }
  .top{
    height:fit-content;
    padding:10px;
  }
  .bottom{
    height:auto;
  }

  .bottom .img{
   width:10px !important;
  }
} 