
<div class="row">
  <div class="email"  id="{{itaration_val}}" (click)="circle_plus(itaration_val)"  (click)="addclass(itaration_val)" [style.top.px]="20*itaration_val">
    <div class="from">
      <div class="from-contents">
        <!-- <div class="avatar me"></div> -->
        <div class="name">{{header}}
        </div>
      </div>
    </div>
    <div class="circle-plus closed"  id="circle-plus_{{itaration_val}}" (click)="circle_plus(itaration_val)" (click)="removeclass(itaration_val)">
      <div class="circle" >
        <div class="horizontal"></div>
        <div class="vertical"></div>
      </div>
    </div>
    <div class="to">
      <div class="to-contents">
        <div class="top" >
          <!-- <div class="avatar-large me"></div> -->
          <div class="name-large">{{header}}</div>
          <!-- <div class="x-touch" >
            <div class="x">
              <div class="line1"></div>
              <div class="line2"></div>
            </div>
          </div> -->
        </div>
        <div class="bottom">
          <div class="col">
           <div class="col-md-12">  <p><img src="./assets/img/angular.png"> {{description}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  