<div class="load">
	<span class="icon ion-50 ion-gear-a spin"></span>
	<div class="quote"></div>
  </div>
  
  <div class="browser-wrap animcontainer">
  
	<div class="text aboutText">
	  <div class="text-design">We Love Designing</div>
	  <div class="text-develop">and Developing</div>
	</div>
  
	<div class="aboutAni">
	  <div class="design">
		<div class="head"></div>
		<div class="box-contain">
		  <div class="box"></div>
		  <div class="box"></div>
		  <div class="box"></div>
		  <div class="box"></div>
		  <div class="box"></div>
		  <div class="box"></div>
		  <div class="box box-large"></div>
		</div>
	  </div>
	  <div class="develop">
		<div class="sidebar"></div>
		<div class="codebar">
		  <div class="line"></div>
		  <div class="line"></div>
		  <div class="line"></div>
		  <br>
		  <div class="line"></div>
		  <div class="line"></div>
		  <div class="line"></div>
		  <div class="line"></div>
		  <br>
		  <div class="line"></div>
		  <div class="line"></div>
		  <div class="line"></div>
		</div>
	  </div>
	</div>
  
	<div class="text">
	  <div class="text-screen">We create for all screen sizes.</div>
	  <div class="text-web">We love creating amazing experiences.</div>
	</div>
  
	<div class="browser">
	  <div class="icon">
		<span class="ion-40 ion-ios-world"></span>
	  </div>
  
	  <div class="header">
		<span class="back ion-20 ion-arrow-left-b"></span>
		<span class="right">
			<span class="ion-record"></span>
		<span class="ion-record"></span>
		<span class="ion-record"></span>
		</span>
	  </div>
	  <div class="body">
		<div class="heart">
		  <span class="ion-heart"></span>
		</div>
		<div class="more"><span class="spin ion-30 ion-load-c"></span> Initializing</div>
	  </div>
  
	  <div class="tablet"><span class="ion-30 ion-ios-circle-filled"></span></div>
	  <div class="phone"></div>
	</div>
  </div>



<div class="case-study-gallery">
	<h1 class="portfoliotitle">See Our Work..!!</h1>
  <div class="case-study study1"><div class="case-study__overlay">
		<h2 class="case-study__title">CEES international</h2>
	  <a class="case-study__link" href="#">www.ceesinternational.com</a>
	</div>
  </div>
	
  <div class="case-study study2">
	<div class="case-study__overlay">
		<h2 class="case-study__title">CEES international</h2>
	  <a class="case-study__link" href="#">www.ceesinternational.com</a>
	</div>
  </div>
	
  <div class="case-study study3">
	<div class="case-study__overlay">
		<h2 class="case-study__title">CEES international</h2>
	  <a class="case-study__link" href="#">www.ceesinternational.com</a>
	</div>
  </div>
	
  <div class="case-study study4">
	<div class="case-study__overlay">
		<h2 class="case-study__title">CEES international</h2>
	  <a class="case-study__link" href="#">www.ceesinternational.com</a>
	</div>
  </div>
	
  <div class="case-study study5">
	<div class="case-study__overlay">
		<h2 class="case-study__title">CEES international</h2>
	  <a class="case-study__link" href="#">www.ceesinternational.com</a>
	</div>
  </div>
	
  <div class="case-study study6">
	<div class="case-study__overlay">
		<h2 class="case-study__title">CEES international</h2>
	  <a class="case-study__link" href="#">www.ceesinternational.com</a>
	</div>
  </div>
  </div>
  <app-footer-component></app-footer-component>