<section class="section static">
    <div>
        <div class="ourPeopleTitle">Our People</div>
        <div class="aboutusTitle2">
            <p>Our people are the force behind our success.We employ some of the most talented software professionals in Sri Lanka and regularly recruit the top graduates from Sri Lanka’s leading universities.Our engineers are respected for their competence, creativity and loyalty. We have a shared enthusiasm for building great software and take pride in contributing to the evolution of our clients’ software applications.</p>
        </div>
    </div>
</section>
<section>
    <app-teamcards-component></app-teamcards-component>
 </section>
 <section>
    <app-aboutus-vision-mission-componenet></app-aboutus-vision-mission-componenet>
</section>