<div class="aboutusBack">
    <!-- <div class='container'>   -->
    <div class="aboutusTitle">
        Our Team
    </div>
    <div class="box">
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Akalanka.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Akalanka<br><span>Head, Technical Operations</span></h2>
                <a href="https://www.facebook.com/akalanka.jayalath" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://linkedin.com/in/akalanka-jayalath?fbclid=IwAR2sAwcH0ZgcfuVST9yzXCVQ5VB6joMWUOnRjUEoRDCWlHngobeJFEFEUoQ" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Gimhana.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Gimhana<br><span>Lead Business Analyst</span></h2>
                <a href="https://www.facebook.com/gimhana.kaldera" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/gimhana-kaldera-bb127b144/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Rasitha.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Rasitha<br><span>Lead UI/UX Designer</span></h2>
                <a href="https://www.facebook.com/rasitha.gamage" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/rasitha-gamage-264733b7/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Chathura.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Chathura<br><span>Lead Quality Assurance</span></h2>
                <a href="https://www.facebook.com/chathura.dananjaya.3950" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/chathura-ranawaka-04486b12a/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Pasan.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Pasan<br><span>Head, R & D</span></h2>
                <a href="" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/pasan-p-919859130/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Dinith.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Dinith<br><span>Database Administrator</span></h2>
                <a href="https://www.facebook.com/dinith.jayabodhi" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/dinith-jayabodhi-9401a510a/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Benuka.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Benuka<br><span>Webmaster</span></h2>
                <a href="https://www.facebook.com/benuka.withanage" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/benuka-withanage-ab708ab3/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Dharshitha.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Dharsitha<br><span>Product Manager</span></h2>
                <a href="https://www.facebook.com/dharshitha.srimal" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/dharshitha-senevirathne-99aa0311a/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Dumindu.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Dumindu<br><span>Chief Architect</span></h2>
                <a href="https://www.facebook.com/dumidumadura" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/dumindudesilva/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Kalpa.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Kalpa<br><span>Head, Mobile Development</span></h2>
                <a href="https://www.facebook.com/kalpa.wijesooriya.1" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/kalpa-wijesooriya-a22412120/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../assets/img/teamAvatar/Maleesha.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Maleesha<br><span>Systems Administrator</span></h2>
                <a href="https://www.facebook.com/maleesha.ranawaka" target="blank">
                    <fa name="facebook" size="lg"></fa>&nbsp;
                </a>
                <a href="https://www.linkedin.com/in/umranawaka/" target="blank">
                    <fa name="linkedin-square" size="lg" target="blank"></fa>
                </a>
            </div>
        </div>
    </div>
</div>