<div class="aboutusBack">
        <div class='container'>  
            <div class="aboutusTitle">  
                        Our Team
                </div>
                <div class="box">
                    <div class="card">
                        <div class="imgBx">
                            <img src="../assets/img/teamAvatar/Akalanka.jpg" alt="images">
                        </div>
                        <div class="details">
                            <h2>Akalanka<br><span>Developer</span></h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgBx">
                            <img src="../assets/img/teamAvatar/Gimhana.jpg" alt="images">
                        </div>
                        <div class="details">
                            <h2>Gimhana<br><span>Business analyst</span></h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgBx">
                            <img src="../assets/img/teamAvatar/Rasitha.jpg" alt="images">
                        </div>
                        <div class="details">
                            <h2>Rasitha<br><span>UX/UI Designer</span></h2>
                        </div>
                    </div>
                    <div class="card">
                            <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Chathura.jpg" alt="images">
                            </div>
                            <div class="details">
                                <h2>Chathura<br><span>Quality Assurance</span></h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Pasan.jpg" alt="images">
                            </div>
                            <div class="details">
                                <h2>Pasan<br><span>Developer</span></h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Dinith.jpg" alt="images">
                            </div>
                            <div class="details">
                                <h2>Dinith<br><span>Developer</span></h2>
                            </div>
                        </div>
                        <div class="card">
                                <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Benuka.jpg" alt="images">
                                </div>
                                <div class="details">
                                <h2>Benuka<br><span>Developer</span></h2>
                                </div>
                            </div>
                        <div class="card">
                                <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Dharshitha.jpg" alt="images">
                                </div>
                                <div class="details">
                                <h2>Dharsitha<br><span>Developer</span></h2>
                                </div>
                            </div>
                        <div class="card">
                                <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Dumindu.jpg" alt="images">
                                </div>
                                <div class="details">
                                <h2>Dumindu<br><span>Developer</span></h2>
                                </div>
                            </div>
                        <div class="card">
                                <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Kalpa.jpg" alt="images">
                                </div>
                                <div class="details">
                                <h2>Kalpa<br><span>Developer</span></h2>
                                </div>
                        </div>
                        <div class="card">
                                <div class="imgBx">
                                <img src="../assets/img/teamAvatar/Maleesha.jpg" alt="images">
                                </div>
                                <div class="details">
                                <h2>Maleesha<br><span>Developer</span></h2>
                                </div>
                            </div>    
                </div>
            </div>
        </div>