<div class="pricingTable">
    <h2 class="pricingTable-title">Find a plan that's right for you.</h2>
    <h3 class="pricingTable-subtitle">
        <h1>Web Design Packages</h1>
    </h3>

    <ul class="pricingTable-firstTable">
        <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Starter</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>LKR</span><span>30,000</span><span></span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li>5 static web pages</li>
                <li>Free domain name (.com)</li>
                <li>Responsive web site</li>
                <li>Free 1GB Hosting</li>
                <li>Basic Search Engine Optimization</li>
                <li>15 Email Accounts</li>
                <li>Control Panel (Cpanel)</li>
                <li>Links to Social Networks</li>
                <li>Free Website training</li>
                <li>3 months free maintenance</li>
            </ul>
            <div class="pricingTable-firstTable_table__getstart">Get Started Now</div>
        </li>
        <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Business</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>LKR</span><span>50,000</span><span></span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li>10 static web pages</li>
                <li>Free domain name (.com)</li>
                <li>Responsive web site</li>
                <li>Free 5GB Hosting</li>
                <li>Search Engine Optimization</li>
                <li>25 Email Accounts</li>
                <li>Control Panel (Cpanel)</li>
                <li>Links to Social Networks</li>
                <li>Content Management System</li>
                <li>Free Website training</li>
                <li>3 months free maintenance</li>
            </ul>
            <div class="pricingTable-firstTable_table__getstart">Get Started Now</div>
        </li>
        <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Professional</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>LKR</span><span>65,000</span><span></span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li>20 static web pages</li>
                <li>Free domain name (.com/.lk)</li>
                <li>Responsive web site</li>
                <li>Free 10GB Hosting</li>
                <li>Search Engine Optimization</li>
                <li>25 Email Accounts</li>
                <li>Unlimited Bandwidth</li>
                <li>Control Panel (Cpanel)</li>
                <li>Links to Social Networks</li>
                <li>Payment Gateway Supported</li>
                <li>Content Management System</li>
                <li>Free Website training</li>
                <li>6 months free maintenance</li>
            </ul>
            <div class="pricingTable-firstTable_table__getstart">Get Started Now</div>
        </li>
        <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">E-Commerce</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>LKR</span><span>80,000</span><span></span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li>Unlimited web pages</li>
                <li>Free domain name (.com/.lk)</li>
                <li>Responsive web site</li>
                <li>Free 20GB Hosting</li>
                <li>Search Engine Optimization</li>
                <li>30 Email Accounts</li>
                <li>Unlimited Bandwidth</li>
                <li>Control Panel (Cpanel)</li>
                <li>Links to Social Networks</li>
                <li>Payment Gateway Supported</li>
                <li>Content Management System</li>
                <li>Free Website training</li>
                <li>6 months free maintenance</li>
            </ul>
            <div class="pricingTable-firstTable_table__getstart">Get Started Now</div>
        </li>
    </ul>
</div>