/* You can add global styles to this file, and also import other style files */

body{
    padding-left: 50px;
    padding-right: 50px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.fb_dialog  .fb_dialog_advanced .fb_customer_chat_bubble_animated_no_badge .fb_customer_chat_bubble_pop_in{
    bottom:90pt !important;
}