<div class="home-main">
<div class="next-section-button">
    <a href="#home-solutions"><img src="./assets/img/next-section-button1.png"></a>
</div>
<section id="home-carousal">
    <app-home-carousal-component></app-home-carousal-component> 
</section>

<section  id="home-solutions">
    <app-solutions-component></app-solutions-component>
</section>

<section  id="home-portfolio">
    <app-home-portfolio></app-home-portfolio>
</section>

<section  id="home-team-carousal">
    <app-team-carousal></app-team-carousal> 
</section>


</div>

