
<div class="home-main" >
<div class="next-section-button shadowed">
    <a href="#{{hrefLink}}"><img  id="next-section-button" src="./assets/img/next-section-button1.png"></a>
</div>

<app-home-carousal-component></app-home-carousal-component> 

<section  id="home-solutions">
    <app-solutions-component></app-solutions-component>
</section>

<section  id="home-portfolio" >
    <app-home-portfolio></app-home-portfolio>
</section>
<div class="banner"><img src="./assets/img/home/banner.png"></div>

<section  id="home-team-carousal">
    <app-team-carousal></app-team-carousal> 
</section>
<section id="contact-us">
</section>
<app-footer-component></app-footer-component>
</div>

